@import '../../../../utilities/variables';

.app__header {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5em 1em;
  background: #656565;
  border-radius: 0.8rem 0.8rem 0 0;
  box-shadow: 0 0 2px #b388a1, 1px 0 2px -1px #5d5d5d;
  font-size: 1.2em;
  color: white;
  @include aberredText(1px);

  &__splash {
    background-color: #ffd800;
  }

  @media screen and (max-width: $screen-break-small) {
    padding: 0.5em;
    justify-content: flex-start;
  }
}
