@import '../../utilities/variables';

.app__body {
  background: #f1f1f2;

  padding: 0.5em;

  display: grid;
  grid-template-rows: auto 4em;
  grid-template-columns: auto;
  grid-template-areas:
    'canvas'
    'palette';

  border-radius: 0 0 $border-radius $border-radius;

  // @media screen and (max-width: $screen-break) {
  //   border-radius: 0;
  // }

  .canvas {
    grid-area: canvas;
  }

  .palette {
    grid-area: palette;
  }
}
