@import '../../utilities/variables';

.palette {
  background: lightsalmon;
  min-height: 2.5em;

  border-radius: 0 0 $border-radius $border-radius;

  @media screen and (max-width: $screen-break) {
    border-radius: 0;
  }

  width: 40em;
  justify-self: start;
  align-self: center;

  display: grid;
  grid-template-columns: 6em 0.3em auto;
  grid-template-rows: 100%;
  grid-template-areas: 'color-swatch ... paintboard';

  @media screen and (max-width: $screen-break) {
    margin: 0;
  }

  &__color-swatch {
    grid-area: color-swatch;
  }

  &__paintboard {
    grid-area: paintboard;
  }
}
