@import '../../utilities/variables';

.canvas {
  --width-in-tiles: 40;
  --height-in-tiles: 20;
  background: cyan;

  display: grid;
  grid-template-columns: repeat(var(--width-in-tiles), 1fr);
  grid-template-rows: repeat(var(--height-in-tiles), 1fr);
}
